.container.car

  p(ng-show="car.state === 'connecting'") Loading

  div.car(ng-show="car.state === 'connected'")

    div.carHeaderBar
      .row
        .col-xs-3
          temperature(temperature-value="car.sensors.temperature")
        .col-xs-3
          battery(battery-value="car.sensors.battery")
        .col-xs-3
          signal(signal-value="car.sensors.signal")
        .col-xs-3
          .btn
            i.icon-cross(ng-show="car.state === 'connected'", ng-click="disconnect()")

    h1 {{ car.name }}

    p Battery: {{ car.sensors.battery }}

    .row
      .col-xs-3.col-xs-offset-9
        horn(set-horn-on='car.setHorn(true)', set-horn-off="car.setHorn(false)")

    distance(sensors="car.sensors")

    joystick(position="car.joystick", controls="XY")




