paper-fab.search(focused icon="icons:search")
core-header-panel
  core-toolbar.medium-tall
    .middle
      h1 {{ 'title' | translate }}
    span(flex)
    paper-icon-button.settings(icon="more-vert", on-tap="onSettingsTap")
  div.subheader
    paper-shadow(z="1")
    span {{ 'scan.description' | translate }}
  div.content




