header
  .header
    .container
      h1 {{ 'title' | translate }}

.container
  button(ng-click="startScan()") Search for bluetooth cars

  ul(ng-repeat="car in cars")
    li {{ car.name }}
      i(class="icon-signal{{ car.rssi | signalStrength }}")