header
  .header
    .container
      .row
        .col-xs-10
          h1 {{ 'title' | translate }}
        .pull-right
          i.icon-info(ng-click="console.log('asd')")

.container.search

  ul.cars(ng-repeat="car in cars | nordicMac")
    li(ng-click="connectToDevice(car)") {{ car.name }}
      i.pull-right(class="icon-signal{{ car.rssi | signalStrength }}")

  div.text-center
    button.btn.btn-success(ng-click="startScan()", ng-disabled="scanning") {{ 'scan.scanForCars' | translate }}