h1 IAS Car

.container
  a(ui-sref="scan") Search for bluetooth cars

  h2 Settings

  p {{ pos.x }}
  p {{ pos.y }}

  joystick(id="joystick", position="pos")

  p {{ pos2.x }}
  p {{ pos2.y }}
  joystick(id="joystick2", position="pos")