h1 Connection Controller

  h2(ng-show="scanning") Scanning

  button(ng-show="!scanning", ng-click="startScan()") Restart Scanning

  ul(ng-repeat='(address, car) in cars')
    li(ng-click='connectToDevice(car)') {{ car.name }}: {{ car.rssi }}
      br
      span {{ address }}