.modal-header
  h3 {{ 'settings.title' | translate }}
.modal-body
  .row
    .col-xs-12
      label(for="steeringTrim") {{ 'settings.steeringTrim' | translate }}
    .col-xs-4.text-center
      button.btn.btn-warning(ng-click="car.steeringTrim = car.steeringTrim - 1") -
    .col-xs-4.text-center
      span(name="steeringTrim") {{ car.steeringTrim }}
    .col-xs-4.text-center
      button.btn.btn-success(ng-click="car.steeringTrim = car.steeringTrim + 1") +
    .col-xs-12
      span.help-block {{ 'settings.steeringTrimDescr' | translate }}

.modal-footer
  button.btn.btn-primary(ng-click="closeSettings()") OK